{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
    <div class="row mt-5">
        <div class="col">
            <a href="/declaracaodesaude" class="btn btn-info btn-lg btn-block mt-1 text-light" role="button"><i class="far fa-address-card"></i> Declaração de Saúde ANS</a>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-info btn-lg btn-block mt-1"><i class="far fa-chart-bar"></i> Avaliação de Saúde</button>
        </div>
    </div>
    This is <em>bootstrap4</em> for <strong>Django</strong>.
{% endblock %}