{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
{% if request.user.is_active and not request.user.is_staff %}
    <div class="row mt-3">
        <div class="col">
            <a href="/declaracaodesaude" class="btn btn-outline-info btn-lg btn-block mt-3" role="button"><i class="far fa-address-card"></i> Declaração de Saúde ANS</a>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-info btn-lg btn-block mt-3"><i class="far fa-chart-bar"></i> Avaliação de Saúde</button>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <a href="/pacientes" class="btn btn-outline-info btn-lg btn-block mt-3" role="button"><i class="far fa-address-book"></i> Pacientes</a>
        </div>
        <div class="col-sm-12 col-md-6">
              <a href="/criarusuario" class="btn btn-outline-info btn-lg btn-block mt-3" role="button"><i class="far far fa-chart-bar"></i> Cadastrar Paciente</a>
        </div>
    </div>
{% endif %}

{% endblock %}