{% extends 'base.html' %}
{% load bootstrap4 %}



{% block content %}


<table
  data-toggle="table"
  id="table"
  data-pagination="true"
  data-search="true"
  data-advanced-search="true"
  data-id-table="advancedTable"
  data-show-columns="true"
  data-show-jump-to="true"
  data-page-list="[10, 25, 50, 100, all]"
  data-show-export="true"
  data-show-refresh="true"
  data-show-toggle="true"
  data-silent-sort="false"
  data-search-accent-neutralise="true"
  data-url="/jsonpacientes"
  >
  
  <thead>
    <tr>
      <th data-field="user__last_name" data-sortable="true">Nome</th>
      <th data-field="sexo" data-sortable="true">Sexo</th>
      <th data-field="birth_date" data-sortable="true" data-formatter="dateFormat">Data Nasc.</th>
      <th data-field="data_inclusao" data-sortable="true" data-formatter="dateFormat">Adesão</th>
      <th data-field="cpf">CPF</th>
      <th data-field="user__id" data-formatter="operateFormatter">Saúde</th>
      <th data-field="user__id" data-formatter="operateFormatter2">Médica</th>
      <th data-field="user__id" data-formatter="operateFormatter3">Psicosocial</th>
    </tr>
  </thead>
</table>



 







{% endblock %}


{% block javascript %}
{{ block.super }}
    <script>
    $(function() {
        $('.container').LoadingOverlay("show");
        $('#table').bootstrapTable();
        $('.container').LoadingOverlay("hide");
    })
    </script>

<script>
  function dateFormat(value, row, index) {
    return moment(value).format('DD/MM/YYYY');
  }
</script>

<script>
  function operateFormatter(value, row, index) {
    return [
      '<a class="like" href="/consultadeclaracaodesaude/'+  value  +'" title="Declaração de Saúde">',
      '<i class="far fa-address-card fa-2x"></i>', 
      '</a>  ',
    ].join('')
  }

   function operateFormatter2(value, row, index) {
    return [
      '<a class="remove" href="/escalamedica/' + value +'" title="Escala Médica">',
      '<i class="fas fa-user-md fa-2x"></i>',
      '</a>',
      ' ',
      '<a class="remove" href="/escalamedicaresultado/' + value +'" title="Escala Médica">',
      '<i class="far fa-address-card fa-2x"></i>',
      '</a>',
    ].join('')
  }


   function operateFormatter3(value, row, index) {
    return [
      '<a class="remove" href="/escalasocial/' + value +'" title="Escala Psicosocial">',
      '<i class="fas fa-user-friends fa-2x"></i>',
      '</a>',
    ].join('')
  }

</script>

{% endblock %}