{% extends 'base.html' %}
{% load bootstrap4 %}



{% block content %}

<style>
  table{
    font-size: 14px;
  }

</style>


<table
  data-toggle="table"
  id="table"
  data-pagination="true"
  data-search="true"
  data-advanced-search="true"
  data-id-table="advancedTable"
  data-show-columns="true"
  data-show-jump-to="true"
  data-page-list="[10, 25, 50, 100, all]"
  data-show-export="true"
  data-show-refresh="true"
  data-show-toggle="true"
  data-silent-sort="false"
  data-search-accent-neutralise="true"
  data-click-to-select="true"
  data-multiple-select-row="true"
  data-url="/jsonescalamedica"
  >
  
  <thead>
    <tr>
      <th data-checkbox="true"></th>
      <th data-field="last_name" data-sortable="true">Nome</th>
      <th data-field="profile__sexo" data-sortable="true" data-halign="center" data-align="center" title="Sexo">S</th>
      <th data-field="profile__birth_date" data-sortable="true" data-formatter="dateFormat">Data Nasc.</th>
      <th data-field="profile__data_inclusao" data-sortable="true" data-formatter="dateFormat">Adesão</th>
      <th data-field="profile__cpf">CPF</th>
      <th data-field="id" data-halign="center" data-searchable="false" data-align="center" data-formatter="operateFormatter">Saúde</th>
      <th data-field="escalamedica__pontuacao" data-searchable="false" data-sortable="true" data-halign="center" data-align="center" data-formatter="operateFormatter2" >Medicina</th>
      <th data-field="escalasocial__pontuacao" data-searchable="false" data-sortable="true" data-halign="center" data-align="center" data-formatter="operateFormatter3">Psicosocial</th>
      <th data-field="escalaenfermagem__somatotal" data-searchable="false" data-sortable="true" data-halign="center" data-align="center" data-formatter="operateFormatter4">Enfermagem</th>
      <th data-field="id" data-formatter="operateFormatter5" data-halign="center" data-align="center">Resumo</th>
    </tr>
  </thead>
</table>



 







{% endblock %}


{% block javascript %}
{{ block.super }}


<script>
  function dateFormat(value, row, index) {
    return moment(value).format('DD/MM/YYYY');
  }
</script>

<script>
  function operateFormatter(value, row, index) {
    return [
      '<a class="like" href="/consultadeclaracaodesaude/'+  value  +'" title="Declaração de Saúde">',
      '<i class="far fa-address-card fa-2x"></i>', 
      '</a>  ',
    ].join('')
  }

   function operateFormatter2(value, row, index) {
    return [
      '<h4 class="text-center">',
      + value,
      '</h4>',
      '<a class="remove" href="/escalamedica/' + row.id +'" title="Escala Médica">',
      '<i class="fas fa-user-md fa-2x"></i>',
      '</a>',
      ' ',
      '<a class="remove" href="/escalamedicaresultado/' + row.id +'" title="Resultado da Escala Médica">',
      '<i class="far fa-address-card fa-2x"></i>',
      '</a>',
    ].join('');

    }
   


   function operateFormatter3(value, row, index) {
    return [
    '<h4 class="text-center">',
      + value,
      '</h4>',
      '<a class="remove" href="/escalasocial/' + row.id +'" title="Escala Psicosocial">',
      '<i class="fas fa-user-friends fa-2x"></i>',
      '</a>',
      ' ',
      '<a class="remove" href="/escalasocialresultado/' + row.id +'" title="Resultado da Escala Psicosocial">',
      '<i class="far fa-address-card fa-2x"></i>',
      '</a>',
    ].join('')
  }

  function operateFormatter4(value, row, index) {
    return [
    '<h4 class="text-center">',
      + value,
      '</h4>',
      '<a class="remove" href="/escalaenfermagem/' + row.id +'" title="Escala Psicosocial">',
      '<i class="fas fa-user-friends fa-2x"></i>',
      '</a>',
      ' ',
      '<a class="remove" href="/escalaenfermagemresultado/' + row.id +'" title="Resultado da Escala Psicosocial">',
      '<i class="far fa-address-card fa-2x"></i>',
      '</a>',
    ].join('')
  }

   function operateFormatter5(value, row, index) {
    return [
      '<a class="remove" href="/resumo/' + value +'" title="Resumo das Escalas">',
      '<i class="fas fa-tachometer-alt fa-2x"></i>',
      '</a>',
    ].join('')
  }

</script>



{% endblock %}