{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  

    <form method="post">
      <div class="row mt-2">
        {% csrf_token %}
        <div class="col-md-6">
          {% bootstrap_form user_form layout='inline' %}
        </div>
        <div class="col-md-6">
          {% bootstrap_form profile_form layout='inline' %}
        </div>
        <div class="col-sm-12 text-center">
          {% buttons submit='Salvar' reset="Limpar" %}{% endbuttons %}
        </div>
      </div>
    </form>
 
{% endblock %}


{% block javascript %}
<script>
  $(document).ready(function(){
    $('#id_birth_date').mask('00/00/0000');
    $('#id_data_inclusao').mask('00/00/0000');
    $('#id_cpf').mask('#0000000000');
  });
</script>

{% endblock %}