{% extends 'base.html' %}
{% load bootstrap4 %}


{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' as contador %}
{% block content %} 
<style>
span.step {
  background: #33CCCC;
  border-radius: 1.0em;
  -moz-border-radius: 1.0em;
  -webkit-border-radius: 1.0em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2.3em;
  margin-right: 5px;
  text-align: center;
  width: 2.3em; 
}
</style>


<div class="row">
  <div class="col-12 col-md-6">
    <h4 class="text-center">Nº de áreas em risco familiar</h4>
      <canvas id="CirsgChart" width="200" height="200"></canvas>
      <script>
      // And for a doughnut chart
      var ctx = document.getElementById("CirsgChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["Fora de Risco", "Risco Familiar"],
          datasets: [{
            backgroundColor: [
              "#CCCCCC",
              "#CC3366"
            ],
            data: [{{ resultado.totalforaderisco }}, {{ resultado.totalemrisco }}]
          }]
        }
      });
      </script>
  </div>
  <div class="col-12 col-md-6">
        <h4>Resp: {{ resultado.medico }}</h4>
        <h4>Paciente: {{resultado.paciente.last_name  }}</h4>
        <h4>Idade:&nbsp;{{ idade }} anos</h4>
        <h4>Data/Hora: {{ resultado.datareg|date:"d/m/Y h:m" }} </h4>
        &nbsp;
        <h4 class="text-center">Resultado da avaliação</h4>
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        <h5>Número de categorias classificadas em risco:&nbsp;<span class="step">{{ resultado.totalemrisco }}</span></h5>
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        <h5>Pontuação Total:&nbsp;<span class="step">{{ resultado.pontuacao }}</span></h5>
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        <h5>Índice de gravidade:{% if resultado.pontuacao <= 6 %}
                                    <b class="alert alert-success">R1 - Risco menor </b>
                                {% elif resultado.pontuacao <= 9 %}
                                    <b class="alert alert-warning"> R2 - Risco médio</b>
                                {% else %}
                                    <b class="alert alert-danger"> R3 - Risco máximo </b>
                                {%  endif  %}
        </h5>
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Riscos Familiares</th>
            </tr>
          </thead>
          <tbody>
             
                {% if resultado.acamado == True %}
          
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Acamado</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.deficienciafisica == True %}
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Deficiência Física</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.deficienciamental == True %}

                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Deficiência Mental</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.saneamento == True %}
               
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Baixas Condições de Saneamento</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.desnutricao == True %}
               
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Desnutrição(Grave)</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.drogadicao == True %}
                      
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Drogadição</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.desempregado == True %}
                       
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Desemprego</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.analfabetismo == True %}
                    
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Analfabetismo</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.menor == True %}
                       
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Menor de 6 Meses</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.maior == True %}
                 
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Maior de 70 anos</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.hipertensao == True %}
                
                     <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Hipertensão arterial sistêmica</td>
                        </tr>
                {%  endif  %}
                
                {% if resultado.moradores > 2 %}
                
                        <tr>
                          <th scope="row">{% cycle contador %}</th>
                          <td>Relação Morador/Cômodo</td>
                        </tr>
            
                {%  endif  %} 
      
          </table>
        
    </div>
  
  
 </div>
 <div class="col-12 text-center">
  <a href="/escalasocialresultadosanteriores/{{resultado.paciente.id}}" class="btn btn-outline-secondary">Ver prontuários anteriores</a>
</div>
&nbsp;
 
{% endblock %}

