{% extends 'base.html' %}

{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' as counter %}

{% load bootstrap4 %}



{% block content %} 

<style>
span.step {
  background: #33CCCC;
  border-radius: 1.0em;
  -moz-border-radius: 1.0em;
  -webkit-border-radius: 1.0em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2.3em;
  margin-right: 5px;
  text-align: center;
  width: 2.3em; 
}

</style>



{#  CDN do chartJS #}
<div class="row">
  <div class="col-12 col-md-6">
    <h4 class="text-center">Nº de problemas funcionais</h4>
      <canvas id="CirsgChart" width="200" height="200"></canvas>
      <script>
      // And for a doughnut chart
      var ctx = document.getElementById("CirsgChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["Sem Dificuldades", "Dificuldades Funcionais"],
          datasets: [{
            backgroundColor: [
              "#CCCCCC",
              "#CC3366",
            ],
            data: [ {{semproblemas}},  {{resultado.pontuacao}}]
          }]
        }
      });
      </script>
  </div>
    <div class="col-12 col-md-6">
        <h4>Resp: {{ resultado.medico }}</h4>
        <h4>Paciente: {{resultado.paciente.last_name  }}</h4>
        <h4>Idade:&nbsp;{{ idade }} anos</h4>
        <h4>Data/Hora: {{ resultado.datareg|date:"d/m/Y h:m" }} </h4>
        &nbsp;
        <h4 class="text-center">Resultado da avaliação</h4>
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" />
        {% if resultado.niveldor <= 3 %} 
          <h5>Nível de dor:&nbsp;<span class="step">{{ resultado.niveldor }}</span></h5>
        {% elif resultado.niveldor <= 7 %}
           <h5>Nível de dor:&nbsp;<span style="background: #FF8C00;" class="step">{{ resultado.niveldor }}</span></h5>
        {% else %}
           <h5>Nível de dor:&nbsp;<span style="background: #B22222;" class="step">{{ resultado.niveldor }}</span></h5>
        {% endif %}
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        {% if resultado.banho == True %} 
          <h5>{% cycle counter %} - Dificuldades para tomar banho</h5>
          <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        {% endif %}
        {% if resultado.vestir == True %} 
          <h5>{% cycle counter %} - Dificuldades para vestir-se</h5>
          <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        {% endif %}
        {% if resultado.higiene == True %} 
          <h5>{% cycle counter %} - Dificuldades para higienização</h5>
          <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        {% endif %}
        {% if resultado.transferencia == True %} 
          <h5>{% cycle counter %} - Dificuldades para transferência</h5>
          <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        {% endif %}
        {% if resultado.continencia == True %} 
          <h5>{% cycle counter %} - Dificuldades para continência</h5>
          <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        {% endif %}
        {% if resultado.alimentacao == True %} 
          <h5>{% cycle counter %} - Dificuldades para alimentação</h5>
          <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        {% endif %}
       

    
 
    </div>
  </div>
<div class="col-12 text-center">
  <a href="/escalafisioterapiaresultadosanteriores/{{resultado.paciente.id}}" ><button type="button" class="btn btn-outline-secondary">Ver prontuários anteriores</button></a>
</div>
</div>
&nbsp;
{% endblock %}