{% extends 'base.html' %}
{% load bootstrap4 %}

{# cadastra os dados dos pacientes da fisioterpia na table Afisioterapeutas de acorda com a tabela de Katz #}

{% block content %}

<style>
span.step {
  background: #33CCCC;
  border-radius: 1.0em;
  -moz-border-radius: 1.0em;
  -webkit-border-radius: 1.0em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2.3em;
  margin-right: 5px;
  text-align: center;
  width: 2.3em; 
}

.fixaTamanho{
    height: 46px;
}


</style>

<br>

    <div class="row">
       
            <div class="col-12">
                <h5 class="text-center">Resumo geral do paciente: {{ resultados.paciente.last_name }}</h5>
                <h5 class="text-center">Idade: {{idade}} anos | Sexo:   {% if sexo == "F" %}Feminino {% else %} Masculino {% endif %} </h5>
                <br>
            </div>


        {# escala médica #}
            <div class="col-12 col-md-6 border">
             {% if resultados %}
                <h4 class="text-center">Escala Médica</h4>
                <canvas id="CirsgChart" width="150" height="150" ></canvas>
                <script>
                // And for a doughnut chart
                var ctx = document.getElementById("CirsgChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                    labels: ["Sem Problemas", "Problemas Leves", "Problemas Moderados", "Problemas Graves", "Problemas Extremamente Graves"],
                    datasets: [{
                        label: "Nº de problemas por grau de severidade",
                        backgroundColor: [
                        "#CCCCCC",
                        "#99CCCC",
                        "#33CCCC",
                        "#CC6699",
                        "#CC3366"
                        ],
                        data: [ {{resultados.numcatsev0}},  {{resultados.numcatsev1}}, {{resultados.numcatsev2}}, {{resultados.numcatsev3}}, {{resultados.numcatsev4}}]
                    }]
                    },
                    options: {
                    title: {
                        display: true,
                        text: 'Nº de problemas por grau de severidade'
                    }

                    }
                });
                </script>
                <br>
                <p class="text-center">
                    <a href="/escalamedicaresultado/{{resultados.paciente.id}}" class="btn btn-outline-secondary" role="button">Ver completo</a>
                </p>
                <h5 class="text-center">Pontuação Total:&nbsp;<span class="step">{{ resultados.pontuacao }}</span></h5>
                <h5 class="text-center">Índice de gravidade:&nbsp;<span class="step">{{ resultados.indgravidade|floatformat }}</span></h5>
                <h4 class="text-center">Data/Hora: {{ resultados.datareg|date:"d/m/Y h:m" }} </h4>
            {% else %}
            <br>
                <h5 class="text-center">A Escala Médica ainda não foi preenchida.</h5>
                <br>
            {%  endif %}


            </div>
        
           
{# escala enfermagem #}
    <div class="col-12 col-md-6 border">
    {% if resultadoenfermagem %}
        <h4 class="text-center">Escala Enfermagem</h4>
        <canvas id="CirsgChart3" width="150" height="150"></canvas>
            <script>
            // And for a doughnut chart
            var ctx = document.getElementById("CirsgChart3").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                labels: ["Cuidado Mínimo", "Cuidade Intermediário", "Cuidado de Alta Dependência", "Cuidado Intensivo"],
                datasets: [{
                    backgroundColor: [
                    "#99CCCC",
                    "#33CCCC",
                    "#CC6699",
                    "#CC3366"
                    ],
                    data: [{{ resultadoenfermagem.soma1 }}, {{ resultadoenfermagem.soma2 }}, {{ resultadoenfermagem.soma3 }}, {{ resultadoenfermagem.soma4 }}]
                }]
                },
                    options: {
                    title: {
                        display: true,
                        text: 'Nº de problemas por nível de cuidado'
                    }

                    }
            });
            </script>
            <br>
            <p class="text-center">
                <a href="/escalaenfermagemresultado/{{resultadoenfermagem.paciente.id}}" class="btn btn-outline-secondary" role="button">Ver completo</a>
            </p>
        {# identifica o nível de complexidade asssitencial que o paciente necessita #}
            <h5 class="text-center">Pontuação Total:&nbsp;<span class="step">{{ resultadoenfermagem.somatotal }}</span></h5>
            {% if resultadoenfermagem.somatotal <= 14 %}
            <h5 class="text-center fixaTamanho">O paciente necessita de cuidados <b class="alert alert-success">Mínimos</b></h5>
            {% elif resultadoenfermagem.somatotal <= 20 %}
            <h5 class="text-center fixaTamanho">O paciente necessita de cuidados <b class="alert alert-warning">Intermediárias</b></h5>
            {% elif resultadoenfermagem.somatotal <= 26 %}
            <h5 class="text-center fixaTamanho">O paciente necessita de cuidados de <b class="alert alert-warning">Alta dependência</b></h5>
            {% elif resultadoenfermagem.somatotal <= 31 %}
            <h5 class="text-center fixaTamanho">O paciente necessita de cuidados <b class="alert alert-danger">Semi-intensivos</b></h5>
            {% else %}
            <h5 class="text-center fixaTamanho">O paciente necessita de cuidados <b class="alert alert-danger">Intensivos</b></h5>
            {%  endif  %}
            <h4 class="text-center">Data/Hora: {{ resultadosocial.datareg|date:"d/m/Y h:m" }} </h4>
            
            <br><br>
        {% else %}
        <br>
            <h5 class="text-center">A Escalade de Enfermagem ainda não foi preenchida. </h5>
        <br>
        {% endif %}
        </div>


         {# inicio da escla psicosocial #}

            <div class="col-12 col-md-6 border">
             {% if resultadosocial %}
                <h4 class="text-center">Escala Psicosocial</h4>
                <canvas id="CirsgChart2" width="150" height="150"></canvas>
                <script>
                // And for a doughnut chart
                var ctx = document.getElementById("CirsgChart2").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                    labels: ["Fora de Risco Familiar", "Em Risco Familiar"],
                    datasets: [{
                        backgroundColor: [
                        "#CCCCCC",
                        "#CC3366"
                        ],
                        data: [{{ resultadosocial.totalforaderisco }}, {{ resultadosocial.totalemrisco }}]
                    }]
                    },
                        options: {
                        title: {
                            display: true,
                            text: 'Nº de áreas em risco familiar'
                        }

                        }
                });
                </script>
                <br>
                <p class="text-center">
                    <a href="/escalasocialresultado/{{resultadosocia.paciente.id}}" class="btn btn-outline-secondary" role="button">Ver completo</a>
                </p>
                <h5 class="text-center">Pontuação Total:&nbsp;<span class="step">{{ resultadosocial.pontuacao }}</span></h5>
                <br>
                <h6 class="text-center fixaTamanho">{% if resultadosocial.pontuacao <= 6 %}
                                        <b class="alert alert-success">R1 - Risco menor </b>
                                        {% elif resultadosocial.pontuacao <= 9 %}
                                            <b class="alert alert-warning"> R2 - Risco médio</b>
                                        {% else %}
                                            <b class="alert alert-danger">R3 - Risco máximo </b>
                                        {%  endif  %}
                </h6>
                <h4 class="text-center">Data/Hora: {{ resultadosocial.datareg|date:"d/m/Y h:m" }} </h4>
                
                <br>
            {% else %}  
                        <br>
                        <h5 class="text-center">A Escala Psicosocial ainda não foi preenchida</h5>
                        <br>
            {% endif %}
        </div>

{# escala fisioterpia #}
    <div class="col-12 col-md-6 text-center border">
    {% if resultadofisioterapia %}
        <h4 class="text-center">Escala Fisioterápica</h4>
        <canvas id="CirsgChart4" width="200" height="200"></canvas>
            <script>
            // And for a doughnut chart
            var ctx = document.getElementById("CirsgChart4").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                labels: ["Sem Dificuldades", "Dificuldades Funcionais"],
                datasets: [{
                    backgroundColor: [
                    "#CCCCCC",
                    "#CC3366",
                    ],
                    data: [ {{pontosfisio}},  {{resultadofisioterapia.pontuacao}}]
                }]
                 },
                        options: {
                        title: {
                            display: true,
                            text: 'Nº de problemas funcionais'
                        }

                        }
                });
            </script>
            <br>
                <p class="text-center">
                    <a href="/escalafisioterapiaresultado/{{resultadofisioterapia.paciente.id}}" class="btn btn-outline-secondary" role="button">Ver completo</a>
                </p>
            <br>
        <h5 class="text-center">Pontuação Total:&nbsp;<span class="step">{{ resultadofisioterapia.pontuacao }}</span></h5>
        {% if resultadofisioterapia.niveldor <= 3 %} 
          <h5>Nível de dor:&nbsp;<span class="step">{{ resultadofisioterapia.niveldor }}</span></h5>
        {% elif resultadofisioterapia.niveldor <= 7 %}
           <h5>Nível de dor:&nbsp;<span style="background: #FF8C00;" class="step">{{ resultadofisioterapia.niveldor }}</span></h5>
        {% else %}
           <h5>Nível de dor:&nbsp;<span style="background: #B22222;" class="step">{{ resultadofisioterapia.niveldor }}</span></h5>
        {% endif %}
        <h4 class="text-center">Data/Hora: {{ resultadofisioterapia.datareg|date:"d/m/Y h:m" }} </h4>
    {% else %}
        <br>
            <h5 class="text-center">A Escala Fisioterápica ainda não foi preenchida</h5>
        <br>
    {% endif %}
    </div>






    </div>
    <br>
    <br>

{% endblock %}